html {
  scroll-behavior: smooth;
}

body {
  color: #7eadff;
  background: linear-gradient(to right, #0f1323, #1d2133);
  background-color: #0f1323;
  margin: 0;
  padding-top: 120px;
  font-family: "Roboto", sans-serif;
}
a {
  color: white;
  text-decoration: none;
}
p {
  padding: 0;
  margin: 0;
}

.navBar {
  background-color: #0f1323;
  color: #7eadff;
  font-size: larger;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  padding: 2.25rem 12rem;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  box-sizing: border-box;
  max-height: 150px;
  overflow: hidden;
  transition: all 0.5s ease;
}

.navBar .name {
  color: #7eadff;
  font-size: larger;
  font-weight: bold;
  transition: ease-in-out 0.15s;
}

.hamburger-menu {
  display: none;
  cursor: pointer;
}
.hamburger-menu span {
  width: 20px;
  height: 2.5px;
  border-radius: 2px;
  background-color: #7eadff;
  margin: 3px 0;
  transition: all 0.3s ease;
}

.navBar .name:hover {
  color: #5387ff;
}
.links {
  display: flex;
  gap: 1rem;
  justify-self: start;
}

.links a {
  color: #7eadff;
  transition: ease-in-out 0.15s;
}

.links a:hover {
  color: #5387ff;
}

.links a::after {
  position: relative;
  top: 5px;
  content: "";
  display: block;
  width: 0%;
  height: 2.5px;
  border-radius: 2px;
  background-color: #5387ff;
  transition: width 0.5s ease;
}

.links a:hover::after {
  width: 100%;
}

.social-icons {
  justify-self: end;
  display: flex;
  gap: 1rem;
  align-items: center;
}
.social-icons a {
  color: #7eadff;
  transition: ease-in-out 0.15s;
}
.social-icons a:hover {
  color: #5387ff;
}

section {
  height: fit-content;
  /* height: calc(100vh - 215px); */
  opacity: 0;
  transform: translateY(30px);
  transition: all 0.8s ease-out;
}

section.appear {
  opacity: 1;
  transform: translateY(0);
}

section + section {
  padding-top: 8rem;
}
#name::after {
  content: "|";
  animation: blink 1s infinite;
  margin-left: 5px;
  font-size: larger;
}
@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
main {
  padding: 2rem 14rem;
}

.main {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.content {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  gap: 40px;
}
.content p {
  font-size: larger;
  line-height: 2;
}
img {
  border-radius: 12px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.imgProf {
  width: 30vw;
  transition: ease-in-out 0.3s;
}
.imgProf:hover {
  transform: scale(1.025);
}

.btns {
  width: calc(100% - 10px);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  gap: 0.45rem;
}

.btn {
  background-color: #101620;
  color: #619bff;
  border: #619bff 2.5px solid;
}
.btn2 {
  background-color: #5387ff;
  /* background: linear-gradient(to right, #5387ff, #619bff); */
  border: #5387ff 2.5px solid;
  color: #101620;
}

.btn,
.btn2 {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 7px;
  min-width: fit-content;
  height: 40px;
  font-weight: bold;
  transition: ease-in-out 0.3s;
}

.btn:hover,
.btn2:hover {
  transform: scale(1.025);
}

.about-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: large;
  width: 60%;
}
.about-text {
  line-height: 1.5;
  font-size: larger;
}

.sectionHeader {
  background-color: #00194d;
  color: rgba(255, 255, 255, 0.89);
  width: fit-content;
  padding: 5px;
  border-radius: 6px;
  font-size: small;
}

.skills {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 3rem;
}
@media screen and (max-width: 600px) {
  .skills {
    flex-direction: column;
    gap: 2rem;
  }
}
.expertise {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.skill {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.projects {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
}
.project {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.project-title {
  margin: 0.75rem 0rem;
  font-size: larger;
  font-weight: bold;
}
.project-description {
  text-align: center;
  font-size: large;
}
.project a img {
  border-radius: 12px;
  width: 100%;
  height: 350px;
  object-fit: cover;
  transition: ease-in-out 0.3s;
}

.project a img:hover {
  transform: scale(1.025);
}

.education {
  width: 60%;
}
.major {
  font-size: large;
  font-weight: bold;
  margin: 0.75rem 0;
}
.education-text {
  line-height: 1.5;
  font-size: large;
  margin-top: 1rem;
}

.contact-container {
  margin-top: 3rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
}
.contact {
  border: #5387ff 2px solid;
  border-radius: 7px;
  background-color: #0f1323;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}
.info {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}
.info p {
  font-size: large;
  font-weight: bold;
}
.ending {
  margin-top: 1.75rem;
  font-style: italic;
  font-size: large;
}
@media screen and (max-width: 900px) {
  .contact-container {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 1300px) {
  main {
    padding: 2rem 3rem;
  }

  .navBar {
    padding: 2.25rem 5rem;
  }
}

.mobile-active .hamburger-menu span:nth-child(1) {
  transform: translateY(7px) rotate(45deg);
}

.mobile-active .hamburger-menu span:nth-child(2) {
  opacity: 0;
}

.mobile-active .hamburger-menu span:nth-child(3) {
  transform: translateY(-9px) rotate(-45deg);
}

@media screen and (max-width: 650px) {
  .main {
    display: grid;
    grid-template-columns: 1fr;
    gap: 3rem;
  }
  .content {
    width: 100%;
  }
  .about-section {
    width: 100%;
  }
  .education {
    width: 100%;
  }
}
@media screen and (max-width: 700px) {
  .navBar {
    grid-template-columns: 1fr auto;
    padding: 2.75rem 3rem;
    align-items: start;
    height: auto;
    max-height: 120px;
  }

  .navBar.mobile-active {
    max-height: 400px;
  }

  .hamburger-menu {
    display: grid;
    background: none;
    border: none;
    width: fit-content;
    grid-row: 1;
    grid-column: 2;
  }

  .name {
    grid-row: 1;
    grid-column: 1;
  }

  .links {
    opacity: 0;
    pointer-events: auto;
    margin-top: 2.75rem;
    display: flex;
    flex-direction: column;
    gap: 1.75rem;
    grid-row: 2;
    grid-column: 1 / span 2;
    transition: opacity 0.5s ease;
  }

  .mobile-active .links {
    opacity: 1;
  }

  .social-icons {
    display: none;
  }

  .btns {
    grid-template-columns: 1fr;
    gap: 0.75rem;
  }
  .btn {
    width: 100%;
  }
  .btn2 {
    width: 100%;
  }
}
@media screen and (max-width: 650px) {
  .imgProf {
    width: 100%;
  }
}
